body{
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
  
  div.root{
    border-radius: 8px;
    background-color: bisque;
    align-items: center;
    



  }
  div.number1{
    
    
    border-radius:8px;
    height: 458px;
    width: 250px;
    
    
  }
  img{
    border-radius: 8px;
    height: 458px;
    width: 250px
  }
 

  div.number2{
    
    background-color: whitesmoke;
    border-radius: 8px;
    height: 458px;
    width: 250px;
    text-align: center;
  
    
  }
  p{
    text-align: left;
    line-height: 2;
    font-family: 'Edu SA Beginner', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Xanh Mono', monospace;
    color: #3E001F;
  }
  h1{
    text-align: left;
  }
  h3{
    color: #034413;
    text-decoration: line-through;
  }
  
  span.cost{
    padding-left: 10px;
    color: #034413;
    font-size: larger;
    font-family: 'Playfair Display', serif;
    font-family: 'Xanh Mono', monospace;
  }
  span.no-cost{
    padding-left: 10px;
    text-decoration: line-through;
    font-size: small;
  }
  .row{
    align-content: center;
  }
  #title{
    padding: 3% 15% 7%;
   text-align: center;
}